.burg{
    display: none;
    width: 32px;
    height: 32px;

    overflow: hidden;
    position: relative;

    background: transparent;
    width: 26px;
    height: 26px;

    margin-left: auto;
    margin-right: 20px;

    @media (max-width: 720px) {
        display: flex;
    }

    @media (max-width: 425px){
        width: 27px;
        height: 26px;
        margin-right: 0px;
    }

    @media (max-width: 320px){
        margin-right: 20px;
    }

    span{
        width: 26px;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 50%;
        transform: translate(0, -1px);
        transition: all 0.1s;
    }

    &:hover{
        cursor: pointer;
    }

    &::before,
    &::after{
        content: "";
        position: absolute;
        width: 26px;
        height: 2px;
        background-color: #000;

        transition: all 0.2s;
    }
    &::before{
        top: 6px;
    }
    &::after{
        bottom: 6px;
    }

    &.open{
        & span{
            transform: translate(110%, -1px);
        }

        &::before{
            transform-origin: 0%;
            /* top: 16px; */
            transform: rotate(45deg);
            left: 15%;
            top: 4px;
        }
        &::after{
            /* bottom: 14px; */
            bottom: 2px;
            left: 15%;
            transform-origin: 0% 100%;
            transform: rotate(-45deg);
        }
    }

}