@import "common/_fonts",
    "common/_null",
    "common/_footer",
    "common/_containerAdaptive",
    "common/_visually-hidden",
    "common/_burg";

@import "_more-customers";
@import "_stunning";
@import "_source";
@import "_item";
@import "_learn";
@import "_card";

.container_1100{
    @include container(1100px,8px)
}
.container-header{
    @include container(1100px,0px)
}

body{

    font-family: 'Raleway', sans-serif;

}

.header{
    padding: 18px 0;
    
    @media (max-width:768px) {
        padding: 0;
        height: 66px;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{

        @media (max-width: 1024px){
            margin-left: -30px;
        }

        @media (max-width: 425px){
            margin-left: -46px;
        }
        @media (max-width: 320px){
            margin-left: -48px;
        }
        &__text {
            @media (max-width: 1024px){
                font-size: 28px;
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    
    &__img {
        margin-left: -11px;
    }

    &__text {
        padding-bottom: 13px;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 41px;
        margin-left: -22px;
    }

    &_ml_-17{
        margin-left: -17px
    }

    @media (max-width:1024px) {
        transform: scale(0.85);
     }

    @media (max-width:768px) {
       transform: scale(0.7);
       margin-left: -20px;
    }
}


.header {

    &__navigation {
        margin-left: auto;
        padding-bottom: 12px;

        @media (max-width:768px) {
            padding-bottom: 0;

         }
    }
    
}


.navigation {

    transition: all 0.5s;

    @media (max-width: 720px) {
        
        display: flex;
        justify-content: center;
        position: absolute;
        top: 66px;
        left: -100%;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: white;
        
       .navigation__ul {
            padding-top: 70px;
            flex-direction: column;
        }
        .navigation__link{
            font-size: 26px;
            margin-bottom: 70px;
        }
    }

    &.show {
        left: 0;

    }

    &__ul {
        display: flex;
    }

    &__li {

        transition: transform 0.3s;

        margin-right: 20px;
        
        &:hover{
            transform: scale(1.1);
        }

        &:last-child{
            padding-bottom: 70px;
        }
        
    }

    &__link {
        position: relative;

        display: inline-block;
        text-align: center;
        min-width: 110px;
        width: 100%;

        text-transform: uppercase;
        font-size: 17px;
        font-weight: 800;
        line-height: 20px;
        letter-spacing: 1.27px;
        

        &::before{
            content: "";
            position: absolute;
            bottom: -13px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #4BA87D;

            @media (max-width:1024px) {
                height: 4px;
             }

            @media (max-width:768px) {
                height: 3px;
                bottom: -5px;
             }
        }

        @media (max-width:1024px) {
            min-width: 71px;
            font-size: 13px;
            line-height: 13px;
            margin-bottom: 5px;
         }

        @media (max-width:768px) {
            min-width: 71px;
            font-size: 11px;
            line-height: 1;
            margin-bottom: 16px;
         }

    }


}


.sign-up-btn {
    padding: 8px 0px;
    margin-bottom: 12px;
    background-color: #4BA87D;

    width: 165px;
    

    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 17px;

    transition: transform 0.3s;

    @media (max-width:1024px) {
        font-size: 13px;
        width: 130px;
    }

    @media (max-width: 720px){
        position: relative;
        background-color: inherit;
        color: #000;
        font-size: 26px;
        margin-bottom: 70px;
        font-weight: 600;
        width: 100%;
        line-height: 1;
        padding: 0;;

        &::before{
            content: "";
            position: absolute;
            bottom: -13px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #4BA87D;

            @media (max-width:1024px) {
                height: 4px;
             }

            @media (max-width:768px) {
                height: 3px;
                bottom: -5px;
             }
        }
    }
}

.button {
    padding: 18px 0;
    width: 200px;
    margin-bottom: 12px;

    background-color: white;

    color: #4BA87D;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.95px;

    transition: transform 0.3s;


    &:hover, &:focus{
        animation: AnimBtn 0.5s infinite alternate ease-in-out;
    }

    &_green_border {
        padding: 14px 0;
        background-color: white;
        color: #4BA87D;
        border: #4BA87D 3px solid;   
    }

    &_green {
        background-color: #4BA87D;
    
        color: white;

        &:hover{
          transform: scale(1.1);
        }
    }

    @media (max-width:768px) {
        padding: 14px 0;
       width: 110px;
       font-weight: 800;
        font-size: 11px;
        line-height: 13px;

        &_green_border{
            padding: 12px 0;
        }
     }
}

.main{
    //background-image: url(../img/Back.png);
    //background-image: url(../img/floating_elements.png);
    
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -8px;

    @media (max-width: 1252px) {
        //background-size: contain;
     }
     @media (max-width: 768px) {
        background-size: contain;
     }
}


.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;

    padding-bottom: 5px;

    &__input {
        padding: 21px;

        margin-right: 26px;

        width: 100%;
        max-width: 420px;

        border: 1px black solid;
        border-radius: 6px;

        margin-bottom: 16px;

        @media (max-width: 768px) {

            margin-right: 17px;
            max-width: 275px;
            padding: 10px;

            margin-bottom: 15px;
            
        }

        &::placeholder{
            color: black;
            font-weight: 500;
            font-size: 21px;
            line-height: 25px;
        }

    }

    &__button {
        margin-bottom: 0;
        min-width: 220px;
        
        @media (max-width: 768px) {
            
            min-width: 144px;
            
        }
    }
}


.brands {
    position: relative;



    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 48px;

        max-width: 400px;
        
        text-align: center;

        margin: 0 auto;

        margin-bottom: 70px;

        @media (max-width: 768px) {

            padding-top: 25px;
            max-width: 250px;

            font-size: 28px;
            line-height: 36px;
            
            margin-bottom: 34px;
        }


    }

    &__logos {
        display: flex;
        justify-content: space-evenly;

        max-width: 1036px;
        margin: 0 auto;

        @media (max-width: 425px){
            flex-wrap: wrap;
        }

        & > *:not(:last-child){
            margin-right: 10px;
             
        }

        & > *{
            text-align: center; 
            display: flex;
            align-items: center;
            justify-content: center;



            @media (max-width: 425px){
                margin: 8px;
            }

            @media (max-width: 320px){
                width: 40%;
            }

        }


    }
    &_mb{
        margin-bottom: 140px;

        @media (max-width: 768px) {
            margin-bottom: 97px;
        }
    }

    &__img{

        @media (max-width: 768px) {
            max-width: 65%;
        }
    }

    @media (max-width: 768px) {
        max-width: 716px;
    }
}


.get-started {
    position: relative;
    //top: -305px;

   background-color: #4BA87D;
   padding-top: 84px;
   padding-bottom: 95px;

   color: white;

   font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;

    @media (max-width: 768px) {
        padding-top: 45px;
        padding-bottom: 52px;
    }


    &__content {
        display: flex;
        flex-direction: column;

    }
    &__tittle {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 44px;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 42px;
            line-height: 56px;

            margin-bottom: 36px;
        }
    }

    &__button {
        margin: 0 auto;

        @media (max-width: 768px) {
            padding: 15px 0;
            width: 130px;
        }
    }
}


.footer{
    position: relative;

    &__content{
        padding-top: 78px;
        padding-bottom: 10px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            padding-top: 45px;
        }

        @media (max-width: 320px) {
            flex-wrap: wrap;
            padding-left: 12px;
        }
    }

    &__logo {
        align-self: flex-start;
        margin-top: -17px;
        padding-left: 30px;
        transform: scale(0.75);

        @media (max-width: 1024px) {
            padding-left: 0;
            margin-left: -14px;
        }
        @media (max-width: 768px) {
            transform: scale(0.50);
            /* padding-left: 60px; */
            padding-top: 5px;
        }
        @media (max-width: 320px) {
            margin-left: -75px;
        }
    }
}


.columns {
    display: flex;

    @media (max-width: 768px) {
        padding-top: 8px;
        margin-right: 66px;
    }
    @media (max-width: 576px){
        margin: 0 auto;
    }
    @media (max-width: 375px) {
        flex-wrap: wrap;
       
    }

    &_mr_40{
        margin-right: 40px;

    }

    &__list {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;

        @media (max-width: 768px) {
            font-size: 12px;
            line-height: 14px;
        }

        @media (max-width: 375px){
            margin-bottom: 15px;
        }

        
        &:not(:last-child){
            margin-right: 58px;

            @media (max-width: 768px) {
                margin-right: 38px;
            }
            @media (max-width: 320px) {
                margin-right: 96px;
            }
            @media (max-width: 320px){
                margin-right: 10px;
            }
        }
    }

    &__li {
        margin-bottom: 10px;

        @media (max-width: 768px) {
             margin-bottom: 7px;
        }
    }

    &__link {
        &:hover{
            border-bottom: #4BA87D 4px solid;
        }
    }
}

/* .column-2, 
.column-4 {
    @media (max-width: 320px) {
        display: none;
    }
} */





@keyframes AnimBtn {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


.animate{
    transition: opacity 0.5s ease-in-out;
}
.anim-from-left {
    animation: anim-from-left 0.4s ease-in-out;
}
.anim-from-right {
    animation: anim-from-right 0.4s ease-in-out;
}
@keyframes anim-from-left{
    0%{
        left: -25%;
    }
    100%{
        left: 0%;
    }
}
@keyframes anim-from-right{
    0%{
        left: 25%;
    }
    100%{
        left: 0%;
    }
}